<%- include ('header') %> 
<form class="convert-form" autocomplete="off" method="GET" action="/cotacao">
  <div class="header_form_container">
    <h3>Fell free to convert your money</h3>
    <p>Please type in the current dollar currency and the amount that you want to recieve</p>
    <div class="form-group">
      <label for="cotacao">Cotação</label>
      <input name="cotacao" type="text" id="cotacao">
    </div>
    <div class="form-group">
      <label for="quantidade">Quantidade</label>
      <input name="quantidade" type="text"  id="quantidade">
    </div>
    <button type="submit">Cotaçao!</button>
  </div>
  <img id="cover-image" src="rocket.png" alt="rocket" />
</form>
<%- include ('footer') %> 